@using IMSWEB.Model
@{
    ViewBag.Title = "Stock Summary Report";
}

<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<hr />

@using (Ajax.BeginForm("StockSummaryReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
{
    <div class="row">
        <div class="col-md-7 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table text-nowrap">
                        <tr>
                            <td>
                                <label>
                                    <input id="rdoProduct" type="radio" title="All Product" value="0" name="ReportType" />
                                    Product Wise Stock
                                </label>
                            </td>
                            <td>
                                <span id="pickerSpace">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Product, id = "0" });}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input id="rdoCompany" type="radio" title="Company Wise Stock" value="1" name="ReportType" />
                                    Company Wise Stock
                                </label>
                            </td>
                            <td>
                                <span id="pickerSpace">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Company, id = "0" });}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input id="rdoCategory" title="Category Wise Stock" type="radio" value="2" name="ReportType" />
                                    Category Wise Stock
                                </label>
                            </td>
                            <td>
                                <span id="pickerSpace">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Category, id = "0" });}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input id="rdoGodown" title="Godown Wise Stock" type="radio" value="3" name="ReportType" />
                                    Godown Wise Stock
                                </label>
                            </td>
                            <td>
                                <span id="pickerSpace">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Godown, id = "0" });}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Stock Type</label>
                            </td>
                            <td>
                                <select class="form-control input-sm" id="stockType" name="stockType">
                                    <option selected value="1">No Damage</option>
                                    <option value="2">Damage</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#CompaniesId").val(0);
        $("#CategoriesId").val(0);
        $("#ProductsId").val(0);
        $("#GodownsId").val(0);
        $('input[type=radio][name=ReportType]').change(function () {
            ClearPickerData();
        });


    });

    function ClearPickerData() {
        $('#CategoriesCode').val('');
        $('#CategoriesName').val('');
        $('#CategoriesId').val('');

        $('#CompaniesCode').val('');
        $('#CompaniesName').val('');
        $('#CompaniesId').val(0);

        $('#ProductsCode').val('');
        $('#ProductsName').val('');
        $('#ProductsId').val('');

        $('#GodownsCode').val('');
        $('#GodownsName').val('');
        $('#GodownsId').val('');

    }

    $('.modal').on('hidden.bs.modal', function () {
        var modalname = $(this).attr('id');
        if (modalname == "ProductsModal") {
            $('#CategoriesCode').val('');
            $('#CategoriesName').val('');
            $('#CategoriesId').val('');
            $('#CompaniesCode').val('');
            $('#CompaniesName').val('');
            $('#CompaniesId').val(0);
            $('#GodownsName').val('');
            $('#GodownsId').val('');
            $("#rdoProduct").prop("checked", true);
        }

        else if (modalname == "CompaniesModal") {
            $('#ProductsCode').val('');
            $('#ProductsName').val('');
            $('#ProductsId').val('');
            $('#CategoriesCode').val('');
            $('#CategoriesName').val('');
            $('#CategoriesId').val('');
            $('#GodownsName').val('');
            $('#GodownsId').val('');
            $("#rdoCompany").prop("checked", true);

        }

        else if (modalname == "CompaniesModal") {
            $('#ProductsCode').val('');
            $('#ProductsName').val('');
            $('#ProductsId').val('');
            $('#CategoriesCode').val('');
            $('#CategoriesName').val('');
            $('#CategoriesId').val('');
            $('#GodownsName').val('');
            $('#GodownsId').val('');
            $("#rdoCompany").prop("checked", true);

        }

        else if (modalname == "GodownsModal") {

            $('#ProductsCode').val('');
            $('#ProductsName').val('');
            $('#CompaniesCode').val('');
            $('#CompaniesName').val('');
            $('#CompaniesId').val('');
            $('#ProductsCode').val('');
            $('#ProductsName').val('');
            $('#ProductsId').val('');
            $("#rdoGodown").prop("checked", true);

        }

    })
</script>
