@{
    ViewBag.Title = "Daily Purchase Report";
}
@using IMSWEB.Model
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<hr />
@using (Ajax.BeginForm("DailyPurchaseReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="hidden" name="PurchaseType" value=@EnumPurchaseType.Purchase />
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class='col-sm-8 input-group date' id='FromDate'>
                                <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class='col-sm-8 input-group date' id='ToDate'>
                                <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class='col-sm-8 input-group date' id='FromDate'>
                                <label><input id="rdoSummary" type="radio" title="Summary" value="1" name="ReportType" checked />Summary &nbsp;&nbsp;</label> 
                                <label><input id="rdioDetail" title="Detail" type="radio" value="2" name="ReportType" />Detail</label> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                            </div>
                            <div class="col-sm-6" >
                                <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                            </div>
                        </div>
                        @*@A.ActionLink("Preview", "ExpenditureReport", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })*@
                </div>
            </div>
        </div>
    </div>


}

<script>
    $('#FromDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });

    $('#ToDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });
</script>
