<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @DateTime.Today.Year © Dealership Management.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    A product <i class="mdi mdi-heart text-danger"></i> by Devvs
                </div>
            </div>
        </div>
    </div>
</footer>