    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Sales Rate Update</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" class="form-control input-sm" id="ProductID" />
                    <input type="hidden" class="form-control input-sm" readonly id="ColorID" />
                    <div class="form-group">
                        <label class="control-label col-md-3">Product Name:</label>
                        <div class="col-md-6">
                            <input type="text" readonly class="form-control input-sm" id="ProductName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">DP:</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control input-sm input-sm" id="DP" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">RP:</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control input-sm input-sm" id="CashSalesRate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">MRP:</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control input-sm input-sm" id="MRP" />
                        </div>
                    </div>

                    @*@if (User.Identity.GetConcernId() == 1 || User.Identity.GetConcernId() == 5 || User.Identity.GetConcernId() == 6)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Credit S.Rate 3:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="CreditSalesRate3" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Credit S.Rate 6:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="CreditSalesRate6" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Credit S.Rate 12:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="CreditSalesRate12" />
                </div>
            </div>
        }*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
                <button type="button" data-concernid="@User.Identity.GetConcernId()" id="Submitbtn" class="btn btn-info  btn-xs" data-dismiss="modal">Update</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/mrpupdate.js"></script>
