<a id="btnDownload" href="/Report/RenderReport" target="_blank"></a>
<script>
    $(document).ready(function () {
        var link = document.getElementById("btnDownload");
        link.click()
    });
</script>


