@*<a id="btnDownload" href="/Report/RenderReport" target="_blank"></a>
    <script>
        $(document).ready(function () {
            var link = document.getElementById("btnDownload");
            link.click()
        });
    </script>*@

<a id="btnDownload" href="/Report/RenderReport" style="display:none;"></a>
<script>
    $(function () {
        document.getElementById("btnDownload").click();
    });
</script>


