@using IMSWEB.Model

@{
    ViewBag.Title = "Monthly Transaction Report";
}
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<hr />
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-lg-offset-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Ajax.BeginForm("MonthlyTransactionReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl },
                    ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
                {
                    <input checked id="ReportType" type="radio" title="Month" value="2" style="display:none" name="ReportType" />
                    if (User.IsInRole(EnumUserRoles.Admin.ToString()) || User.IsInRole(EnumUserRoles.superadmin.ToString()))
                    {
                        <div class="form-group">
                            @Html.Label("Concerns", new { @class = "control-label  col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("ConcernID", ViewBag.Concerns as SelectList, "--Select Concern--", new { @Class = "form-control input-sm" })
                            </div>
                        </div>
                    }
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Month", new { @class = "control-label col-md-3" })
                                <div class='col-md-9 input-group date' id='Month'>
                                    <input type='text' class="input-sm form-control input-sm" name='Month' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                            <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class='col-sm-10 input-group col-sm-offset-2' id='rbCustomerType'>
                                <input id="rdoAll" type="radio" title="All" value="0" name="CustomerType" checked />All Customer &nbsp;&nbsp;
                                <input id="rdoRetail" title="Retail" type="radio" value="1" name="CustomerType" />Retail &nbsp;&nbsp;
                                <input id="rdoDealer" title="Dealer" type="radio" value="2" name="CustomerType" />Dealer &nbsp;&nbsp;
                                <input id="rdoCredit" title="Credit" type="radio" value="3" name="CustomerType" />Credit
                            </div>
                        </div>*@
                }
            </div>
        </div>
    </div>
</div>

<script>
    //$('#FromDate').datetimepicker({
    //    defaultDate: moment(),
    //    format: 'DD-MMM-YYYY'
    //});

    //$('#ToDate').datetimepicker({
    //    defaultDate: moment(),
    //    format: 'DD-MMM-YYYY'
    //});
    $("#ConcernID").select2();
    $('#Month').datetimepicker({
        defaultDate: moment(),
        format: 'MMM-YYYY'
    });

</script>


