@model IEnumerable<GetProductViewModel>

@*<style>
        /* Adjust the width of the ProductName column */
        #DamageProductDetailsTable th[data-field="ProductName"] {
            width: 300px; /* Adjust the width value as needed */
        }
    </style>*@

<style>
    /* Adjust the width of specific columns */
    #DamageProductDetailsTable th[data-field="ProductName"] {
        width: 350px; /* Adjust as needed */
    }

    #ProductDetailsModal th[data-field="CategoryName"] {
        width: 150px; /* Adjust as needed */
    }

    #DamageProductDetailsTable th[data-field="ProductCode"],
    #DamageProductDetailsTable th[data-field="GodownName"],
    #DamageProductDetailsTable th[data-field="CompanyName"],
    #DamageProductDetailsTable th[data-field="ColorName"] {
        width: 100px; /* Adjust widths based on the content */
    }

    /* Ensure text wraps neatly */
    #DamageProductDetailsTable td {
        word-wrap: break-word;
        white-space: normal;
    }

    /* Truncate long text with ellipsis */
    #DamageProductDetailsTable th,
    #DamageProductDetailsTable td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>



<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="dProductCode" name="dProductCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-info" onclick="GetSalesProductByCustomerID()"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="dProductDetailsName" name="dProductDetailsName" readonly="readonly">
    <input type="hidden" id="dProductDetailsId" name="dProductDetailsId" readonly="readonly">
    <input type="hidden" id="dStockDetailsId" name="dStockDetailsId" readonly="readonly">
    <input type="hidden" id="dSOrderDetailID" name="dSOrderDetailID" readonly="readonly">
    <input type="hidden" id="dRStockDetailsId" name="dRStockDetailsId" readonly="readonly">
    <input type="hidden" id="dColorsId" name="dColorsId" readonly="readonly">
    <input type="hidden" id="dOffer" name="dOfferDescription" readonly="readonly">
    @*<input type="hidden"  id="SODetail_Quantity" name="SODetail_Quantity" readonly="readonly">*@
    <input type="hidden" id="ProductTypes" name="ProductTypes">
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="DamageProductDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Sales ProductDetails</h5>
            </div>
            <div class="modal-body">
                <div id="ProductDetailstoolbar">
                    @Html.ActionLink("Create new", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <div class="table-responsive" style="max-height:200px">
                    <table id="DamageProductDetailsTable"
                           data-toggle="table"
                           data-search="true"
                           data-click-to-select="true"
                           data-single-select="true"
                           data-detail-view="true"
                           data-pagination="true"
                           data-id-field="name"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-page-size="6"
                           class="table table-responsive table-bordered table-striped"
                           cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th data-checkbox="true">
                                </th>
                                <th data-field="ProductId" class="hidden">
                                </th>
                                <th data-field="ProductUnitType" class="hidden">
                                </th>
                                <th data-field="UniDecription" class="hidden">
                                </th>

                                <th data-field="ColorId" class="hidden">
                                </th>
                                <th data-field="StockDetailsId" class="hidden">
                                </th>
                                <th data-field="SODetailID" class="hidden">
                                </th>

                                <th data-field="ProductType" class="hidden"></th>
                                <th data-field="ProductCode"
                                    data-sortable="true">
                                    Code
                                </th>
                                <th data-field="ProductName"
                                    data-sorter="sorter"
                                    data-sortable="true"
                                    class="col-xxl-3">
                                    Name
                                </th>
                                <th data-field="SizeName"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Size
                                </th>

                                <th data-field="GodownName"
                                    data-sorter="sorter"
                                    data-sortable="true"
                                    class="hidden">
                                    Godown Name
                                </th>
                                <th data-field="CompanyName"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Company
                                </th>
                                <th data-field="CategoryName"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Category
                                </th>

                                <th data-field="IMENo" class="hidden">
                                    IMEI
                                </th>
                                <th data-field="ColorName"
                                    data-sorter="sorter"
                                    data-sortable="true"
                                    class="hidden">
                                    Color
                                </th>
                                <th data-field="MRPRate"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    MRP Rate
                                </th>
                                <th data-field="PreStock"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Sales Qty
                                </th>
                                <th data-field="ConvertValue"
                                    data-sorter="sorter"
                                    data-sortable="true"
                                    class="hidden">
                                    Convert Value
                                </th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[id*="_OfferDescription"]').text(@ViewBag.OfferDescription);
        //$('[id*="_CurrentDue"]').trigger("input");
        var ProductType = $("#ProductType").val();
        if (ProductType == "2") {
            $('[id*="_Quantity"]').attr("readonly", false);
        }

    });


    var $table = $('#DamageProductDetailsModal');

    $table.on('check.bs.table', function (e, row) {
        $('#dProductCode').val(row.ProductCode);
        $('#dProductDetailsName').val(row.ProductName);
        $('#ProductTypes').val(row.ProductType);
        $('#SODetail_ProductId').val(row.ProductId);
        $('#dProductDetailsId').val(row.ProductId);
        $('#dColorsId').val(row.ColorId);
        $('#SODetail_ColorId').val(row.ColorId);
        $('#SODetail_ColorName').val(row.ColorName);
        $('#SODetail_DamageIMEINO').val(row.IMENo);

        var CValue =  row.ConvertValue
        var TotalQty = row.PreStock;
        var ParentQty = parseInt(TotalQty / CValue);
        var Childqty = parseInt(TotalQty % CValue);
        $("#SODetail_ParentQuantity").val(ParentQty).trigger('input');
        $("#SODetail_ChildQuantity").val(Childqty).trigger('input');
        $('#SODetail_ConvertValue').val(row.ConvertValue);

        $('#SODetail_RatePerArea').val($.trim(row.MRPRate)).trigger("input");
        $('#dProductDetailsId').val(row.ProductId);
        $('#dStockDetailsId').val(row.StockDetailsId);
        $('#dSOrderDetailID').val(row.SODetailID);
        $('#dQuantity').val(row.PreStock);
        if ($.trim(row.IMENo) == "No Barcode") {
            $('#dQuantity').prop("readonly", false);
        }
        else {
            $('[id*="_Quantity"]').attr("readonly", true);
            $('#dQuantity').prop("readonly", true);
        }


        $("#lblParentUnit").text($.trim(row.UniDecription));
        $("#lblChildUnit").text($.trim(row.ProductUnitType));
        $("#SODetail_UnitType").val($.trim(row.UniDecription)).trigger("input");
/*        val(Childqty).trigger('input');*/


        var ConvertValue = row.ConvertValue;

        if (ConvertValue == 1) {
            var element = document.getElementById("hideDisplayForSingleProduct");
            element.style.display = "none";

        }



    });
    $table.on('uncheck.bs.table', function (e, row) {
        $('#dProductCode').val("");
        $('#dProductDetailsName').val("");
        $('#dSODetail_ProductId').val("");
        $('#dColorsId').val("");
        $('#dColorName').val("");
        $('#SODetail_DamageIMEINO').val("");
        $('#dProductDetailsId').val("");
        $('#dStockDetailsId').val("");
    });

    //************************************************************
    //Get All Sales Product by Customer  to generate Damage Picker
    //************************************************************
    function GetSalesProductByCustomerID() {
        $("#externalDamageIMEINOError").hide();
        var CustomerID = getDefaultFloatIfEmpty($("#CustomerId").val());
        //alert(CustomerID);
        if (CustomerID == 0) {
            toastr.error('Select Customer');
            return;
        }
        $.ajax({
            url: "/Return/GetSalesProductDetailByCustomerIDNew",
            type: "GET",
            data: { 'CustomerID': CustomerID },
            dataType: "json",
            success: function (data) {
                _ProductDetails = data;
                PopulateDamageProductDetailsTable(data);
            },
            error: function (err) {

            }
        });
    }
    //Generate damage product picker
    function PopulateDamageProductDetailsTable(data) {

        var $table = $("#DamageProductDetailsTable");
        $table.bootstrapTable('removeAll')
        $table.bootstrapTable('load', data);
        $('#DamageProductDetailsModal').modal('toggle');
    }
</script>
