
@using IMSWEB.Model
@model IMSWEB.CreateCustomerViewModel


@{
    ViewBag.Title = "SR Wise Sales Details Report";
}

<h4>@(ViewBag.Title + ".")</h4>
<hr />
@using (Ajax.BeginForm("MOWiseSDetailsReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
{
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    SR Name
                </div>
                <div class="col-sm-3">
                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Employee, id = (Model != null && Model.EmployeeId != null) ? Model.EmployeeId : "0" });}
                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">

        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class='col-sm-3 input-group date' id='FromDate'>
                    <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class='col-sm-3 input-group date' id='ToDate'>
                    <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                </div>
                <div class="col-sm-4">
                    <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                </div>
            </div>
        </div>
    </div>

}

<script>
    $('#FromDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });

    $('#ToDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });
    $('form').submit(function () {

        // Get the Login Name value and trim it
        var name = $.trim($('#EmployeesId').val());
        var chk = $('#rdioDetail').prop("checked");
        // Check if empty of not
        if (name === '' && !chk) {
            alert('No Employee Selected .');
            return false;
        }
    });
</script>
