@using IMSWEB.Model
@model IMSWEB.CreateCustomerViewModel


@{
    ViewBag.Title = "Product Wise Sales Report";
}

<h4>@(ViewBag.Title + ".")</h4>
<hr />

<div class="row">
    <div class="col-lg-4 col-md-4  col-sm-12 col-lg-offset-4 col-md-offset-4">
        @using (Ajax.BeginForm("ProductWiseSalesReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table text-nowrap">
                        <tr>
                            <td>
                                @Html.Label("Customer", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Customer, id = (Model != null && Model.EmployeeId != null) ? Model.EmployeeId : "0" });}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                <div class='input-group date' id='FromDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                <div class='input-group date' id='ToDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="col-sm-4">
                                    <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                                </div>
                                <div class="col-sm-4">
                                    <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('#FromDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });

    $('#ToDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });
    //$('form').submit(function () {

    //    // Get the Login Name value and trim it
    //    var name = $.trim($('#EmployeesId').val());
    //    var chk = $('#rdioDetail').prop("checked");
    //    // Check if empty of not
    //    if (name === '' && !chk) {
    //        alert('No Employee Selected .');
    //        return false;
    //    }
    //});
</script>
